@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-primary-800 text-accent-50 font-sans;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: theme('colors.secondary.700');
}

::-webkit-scrollbar-thumb {
  background-color: theme('colors.tertiary.500');
  border-radius: 9999px;
}
