@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-accent-50 text-primary-900 font-sans;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: theme('colors.primary.200');
}

::-webkit-scrollbar-thumb {
  background-color: theme('colors.primary.400');
  border-radius: 9999px;
}
